body {
    font: 20px arial serif;
   
}

.navbar {
    background-color:#40E0D0;
}

.quem-somos {
    background-color: blueviolet;
    color: white;
}
.margin {
    padding-top: 20px;
    padding-bottom: 20px;

}
h3 {
    
   padding-bottom: 50px;
   color:white;
   text-align: center;
   padding-bottom: 55px;

}

.msg {
padding-top: 40px;
}
#parceiros {
    background-color:#40E0D0;
    width: 100%;
    padding: 30px;
    color: black(255, 255, 255, 0.39);
   text-align: center;
   padding-bottom: 120px;
}

.navbar-brand {
    margin: 40px;
}
.navbar-nav {
    margin-left: 30px;
    margin-right: 10px;
    font-family:Impact, 'Arial Narrow Bold', sans-serif, Tahoma, Verdana, sans-serif;
}

.nav-item {
    margin-left: 10px;
}

#servicos {
    background-color: blueviolet;
}

p {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bg-footer {
    background-color: black;
    padding: 20px;
    font-size: 15px;
    font-style: italic; 
}